<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <img src="/images/logomusiclovers.png" alt="logo">
    <form action="" method="POST">

        <fieldset>
            <label for="emailadress">What's your e-mailadress?</label>
            <input type="text" name="firstname" id="firstname">

            <label for="username">What's your first name?</label>
            <input type="text" name="username" id="username">

            <label for="password">Choose a good password</label>
            <input type="password" name="password" id="password">
        </fieldset>

        <button>In-loggen</button>

    </form>
</body>

</html>