    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <form action="" method="POST">
    
    <label for="firstname">First Name</label>
    <input type="text" name="firstname" id="firstname">

    <label for="lastname">Last name</label>
    <input type="text" name="lastname" id="lastname">
    
    <label for="age">Age</label>
    <input type="number" name="age" id="age" min="18" max="120">

    <label for="username">username</label>
    <input type="text" name="username" id="username">

    <label for="email">email</label>
    <input type="email" name="email" id="email">

    <label for="genre">My favourite music genre</label>

        <select name="genre" id="genre">
            <option value="rock">rock</option>
            <option value="pop">Pop</option>
            <option value="jazz">Jazz</option>
            <option value="hiphop">Hiphop</option>
            <option value="metal">Metal</option>
        </select>

    
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    
    <button>In-loggen</button>

    </form>
</body>
</html>